<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>beanName</key>
		<string>data</string>
		<key>name</key>
		<string>data</string>
		<key>properties</key>
		<array>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>headPic</string>
				<key>propertyName</key>
				<string>headPic</string>
				<key>propertyType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>phone</string>
				<key>propertyName</key>
				<string>phone</string>
				<key>propertyType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>regTime</string>
				<key>propertyName</key>
				<string>regTime</string>
				<key>propertyType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>userId</string>
				<key>propertyName</key>
				<string>userId</string>
				<key>propertyType</key>
				<string>Number</string>
			</dict>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>userToken</string>
				<key>propertyName</key>
				<string>userToken</string>
				<key>propertyType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>vip</string>
				<key>propertyName</key>
				<string>vip</string>
				<key>propertyType</key>
				<string>Number</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>beanName</key>
		<string>_root_</string>
		<key>name</key>
		<string>_root_</string>
		<key>properties</key>
		<array>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>code</string>
				<key>propertyName</key>
				<string>code</string>
				<key>propertyType</key>
				<string>Number</string>
			</dict>
			<dict>
				<key>beanName</key>
				<string>data</string>
				<key>name</key>
				<string>data</string>
				<key>propertyName</key>
				<string>data</string>
				<key>propertyType</key>
				<string>Object</string>
			</dict>
			<dict>
				<key>beanName</key>
				<string></string>
				<key>name</key>
				<string>errmsg</string>
				<key>propertyName</key>
				<string>errmsg</string>
				<key>propertyType</key>
				<string>String</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
